<div id="step-control-wizard"></div>
<div id="wizard-content-1" class="wizard-content">Get bread, jelly, peanut butter
	<div style="margin-top: 32px;">
		<input id="have-ingredients" type="checkbox" />Do you have the ingredients?
	</div>
</div>
<div id="wizard-content-2" class="wizard-content">Apply peanut butter</div>
<div id="wizard-content-3" class="wizard-content">Apply jelly</div>
<div id="wizard-content-4" class="wizard-content">Put bread together</div>
<div id="wizard-content-5" class="wizard-content">Enjoy!</div>